@font-face{
	font-family:baseline;src:local(verdana);unicode-range:u+20
}
@font-face{
	font-family:yu gothic;src:local(yu gothic medium)
}
@font-face{
	font-family:yu gothic;font-weight:bold;src:local(yu gothic bold)
}
*{
	line-height:calc(1em + 16px);margin:unset
}
body{
	font-family:baseline,arial,yu gothic,sans-serif;font-kerning:none;-webkit-text-size-adjust:none
}