@font-face{
	font-family:baseline;src:local(verdana);unicode-range:u+20
}
@font-face{
	font-family:yu gothic;src:local(yu gothic medium)
}
@font-face{
	font-family:yu gothic;font-weight:bold;src:local(yu gothic bold)
}